<div class="global-container-feedback hidden-sm" xmlns="http://www.w3.org/1999/html">
    <div class="container-feedback">
        {% if contacts %}
            {% for contact in contacts %}
                <table>
                    <tr>
                        <td>
                            <i class="fa fa-user"></i> {{ contact.person_name }}
                        </td>
                        <td>
                            <i class="fa fa-phone"></i> {{ contact.person_phone }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <i class="fa fa-envelope "></i> {{ contact.person_mail }}
                        </td>
                    </tr>
                </table>
                <br>
            {% endfor %}
        {% else %}
            <p>Извините, в данный момент контакты недоступны.</p>
            <p>Воспользуйтесь формой обратной связи</p>
        {% endif %}
        <p class="feedback-text">
            <b>Время работы:</b>
        </p>
        <p class="feedback-text">
            Ежедневно 8:00 - 20:00
        </p>
        <div class="feedback-form">
            <form class="sky-form contact-style add-order-form" id="add-order-form" method="post"
                  action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="fieldWrapper row sky-space-20">
                    <div class="col-md-11 col-md-offset-0">
                        <div id="div_id_subject" class="form-group">
                            <label for="id_subject" class="control-label">
                                Ваше имя<span> *</span>
                            </label>
                            <div class="controls">
                                <input class="form-control" id="id_subject" maxlength="100" name="subject" type="text">
                            </div>
                        </div>
                        <div id="div_id_message" class="form-group">
                            <label for="id_message" class="control-label">
                                Сообщение<span>*</span>
                            </label>
                            <div class="controls">
                                <textarea class="form-control textarea" cols="30" id="id_message" name="message"
                                          rows="6">
                                </textarea>
                            </div>
                        </div>
                        <div id="div_id_sender" class="form-group">
                            <label for="id_sender" class="control-label">
                                E-mail<span>*</span> </label>
                            <div class="controls">
                                <input class="form-control" id="id_sender" name="sender" type="text">
                            </div>
                        </div>
                        <button class="btn btn-success contact_btn" type="submit">
                            Отправить сообщение
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <p class="feedback-text">
            * - Поля обязательные для заполнения
        </p>
    </div>
    <div class="fb-feedback"><span class="feedback">Контакты</span></div>
</div>