<table class="table table-striped table-bordered table-hover sort_table">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Емкость</th>
        <th>Пусковой ток</th>
        <th>Размеры</th>
        <th>Производитель</th>
        <th>Полярность</th>
        <th>Цена (руб.)</th>
    </tr>
    </thead>
    <tbody>

    {% for item in goods %}

        <tr>
            <td class="">{{ item.name }}</td>
            <td class="">{{ item.capacity }}</td>
            <td class="">{{ item.starting_current }}</td>
            <td class="">{{ item.size }}</td>
            <td class="">{{ item.manufacturer }}</td>
            <td class="">{{ item.polarity }}</td>
            <td class="">{{ item.price }}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>

{% include 'sort_script.html' %}