{% for item in goods %}

    <div class="col-md-3 col-sm-6">
        <div class="shop-item">
            <div class="shop-item-image">
                <img alt="Item Name" src="{{ item.picture.url }}">
            </div>
            <div class="title">
                <h3>{{ item.name }}</h3>
                <h3>Емкость: {{ item.capacity }} Ah</h3>
                <h3>Пусковой ток: {{ item.starting_current }} Ah</h3>
                <h3>Размеры: {{ item.size }} мм</h3>
                <h3>Производитель: {{ item.manufacturer }}</h3>
            </div>
            <div class="price">
                {{ item.price }} руб.
            </div>
        </div>
    </div>

{% endfor %}