<table class="table table-striped table-bordered table-hover sort_table table-condensed">
    <thead class="thead-inverse">
    <tr>
        <th>Наименование</th>
        <th>Сезон</th>
        <th>Размеры</th>
        <th>Производитель</th>
        <th>Модель</th>
        <th>Диаметр</th>
        <th>Цена (руб.)</th>
    </tr>
    </thead>
    <tbody>

    {% for item in goods %}

        <tr>
            <td class="">{{ item.name }}</td>
            <td class="">{{ item.season }}</td>
            <td class="">{{ item.width }}/{{ item.profile }}{{ item.diameter }}</td>
            <td class="">{{ item.manufacturer }}</td>
            <td class="">{{ item.model }}</td>
            <td class="">{{ item.diameter }}</td>
            <td class="">{{ item.price }}</td>
        </tr>

    {% endfor %}

    </tbody>
</table>

{% include 'sort_script.html' %}
