<table class="table table-striped table-bordered table-hover sort_table">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Модель</th>
        <th>Ширина</th>
        <th>Вылет</th>
        <th>Производитель</th>
        <th>Диаметр</th>
        <th>PCD</th>
        <th>DIA</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>

    {% for item in goods %}

        <tr>
            <td class="">{{ item.name }}</td>
            <td class="">{{ item.model }}</td>
            <td class="">{{ item.width }}</td>
            <td class="">{{ item.offset }}</td>
            <td class="">{{ item.manufacturer }}</td>
            <td class="">{{ item.diameter }}</td>
            <td class="">{{ item.pcd }}</td>
            <td class="">{{ item.DIA }}</td>
            <td class="">{{ item.price }} руб.</td>
        </tr>

    {% endfor %}

    </tbody>
</table>

{% include 'sort_script.html' %}
