.errorlist {
    color: #a94442;
}

.main-text {

    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #777;
    background-color: #eee;
}

.carousel {
    margin-top: 70px;
}

.contact_btn {
    margin-bottom: 25px;
}

.table {
    margin-top: 90px;
}

.shop-item {
    min-height: 390px;
    margin-bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 20px;
}

.footer-signature {
    padding-top: 6px;
}

.global-container-feedback {
    position: fixed;
    width: 360px;
    display: block;
    margin-left: -390px;
    overflow: hidden;
    padding-bottom: 0;
    height: 630px;
    -webkit-transition: margin-left 1s ease-out;
    transition: margin-left 0.5s ease-out;
    z-index: 600;
    top: 120px;
}

/*.global-container-feedback:hover {*/
/*margin-left: 0px;*/
/*}*/

div.container-feedback {
    width: 320px;
    height: 630px;
    border: 1px solid #f5f5f5;
    display: block;
    position: relative;
    background-color: #f5f5f5;
    padding-top: 10px;
}

div.fb-feedback {
    width: 40px;
    height: 135px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 20px 20px 0;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
}

span.feedback {
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 165px;
    position: relative;
    font-family: times, serif;
    left: -65px;
    top: 15px;
}

div.img-feedback {
    position: relative;
    margin: 10px;
    z-index: 10;
}

div.img-feedback img {
    float: left;
}

p.feedback-text {
    float: left;
    font-family: times, serif;
    font-size: 13pt;
    line-height: 1.2em;
    width: 205px;
    overflow: hidden;
    padding: 0 0 0 15px;
    position: relative;
    margin-bottom: 5px;
}

.feedback-form {
    padding-left: 15px;
}

.toast-container {
    width: 280px;
    z-index: 9999;
}

* html .toast-container {
    position: absolute;
}

.toast-item {
    height: auto;
    background: #333;
    opacity: 0.9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #eee;
    padding: 20px 6px;
    font-family: lucida Grande, serif;
    font-size: 14px;
    border: 2px solid #999;
    display: block;
    position: relative;
    margin: 0 0 12px 0;
    border-radius: 15px;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    background: url(../img/toast_message/close.gif);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.toast-item-image {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

.toast-item-image-notice {
    background: url(../img/toast_message/notice.png);
}

.toast-item-image-success {
    background: url(../img/toast_message/success.png);
}

.toast-item-image-warning {
    background: url(../img/toast_message/warning.png);
}

.toast-item-image-error {
    background: url(../img/toast_message/error.png);
}

/**
 * toast types
 *
 * pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    color: white;
    font-size: 1.2em;
}

.toast-type-success {
    color: white;
    background-color: #5cb85c;
    font-size: 1.2em;
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
    font-size: 1.2em;
}

.toast-type-error {
    color: white;
    background-color: #B32B2B;
    font-size: 1.2em;
}

/**
 * positions
 *
 * pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -140px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.container-feedback td {
    padding-left: 15px;
}