<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <ol class="carousel-indicators">
    {% for item in slider %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"
        {% if item == slider.first %}
            class="active"
        {% endif %}>
      </li>
    {% endfor %}
  </ol>

  <div class="carousel-inner margin-top" role="listbox">

    {% for item in slider %}
      {% if item == slider.first %}
        <div class="item active">
      {% else %}
        <div class="item">
      {% endif %}
          <img src="{{ item.image.url }}">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{ item.comment }}</h1>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<br/>