{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %} Главная {% endblock %}

{% block content %}
    <span class="lead" xmlns="http://www.w3.org/1999/html">Отображать в виде:</span>
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'battery_icons' %}"><i class="fa fa-th-large "></i></a>
        <a class="btn btn-default" href="{% url 'battery_table' %}"><i class="fa fa-list"></i></a>
    </div>
    <form action="{% url 'battery_table' %}" method="get" class="form" id="form">

        {% bootstrap_form form layout='horizontal' %}

    </form>
    <div class="goods">
        {% include 'template_parts/batterys_table.html' %}
    </div>

{% endblock %}