{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

    <div class="shop-section section">
        <div class="col-md-4">
            <div class="shop-item">
                <div class="shop-item-image">
                    <a href="{% url 'battery_icons' %}"><img alt="Battery" src="/media/main/1.jpg"></a>
                </div>
                <div class="price">
                    <a href="{% url 'battery_icons' %}"><h3>Аккумуляторы</h3></a>
                    <h4>Доставка осуществляется на следующий день.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-section section">
        <div class="col-md-4">
            <div class="shop-item">
                <div class="shop-item-image">
                    <a href="{% url 'wheels_icons' %}"><img alt="Wheels" src="/media/main/2.jpg"></a>
                </div>
                <div class="price">
                    <a href="{% url 'wheels_icons' %}"><h3>Диски</h3></a>
                    <h4>Прайс оформляется, воспользуйтесь нашими контактами для получения информации о товарах</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-section section">
        <div class="col-md-4">
            <div class="shop-item">
                <div class="shop-item-image">
                    <a href="{% url 'tyres_icons' %}"><img alt="Tyres" src="/media/main/3.jpg"></a>
                </div>
                <div class="price">
                    <a href="{% url 'tyres_icons' %}"><h3>Шины</h3></a>
                    <h4>Прайс оформляется, воспользуйтесь нашими контактами для получения информации о товарах</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}