{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

    <div class="col-md-12">
        <h3 class="text-center">Доставка</h3>
        <h4>Доставка осуществляется на следующий день, после оформления заказа.</h4>
        <h4>Стоимость доставки в черте города составляет 300р.</h4>
        <h4>Самовывоз производится по адресу - Санкт-Петербург ул. Народная д.3 </h4>

        <div class="col-sm-12 map">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0b5uwtMoXJuge_yDIiG2aak0B-RpNgdL&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true"></script>
        </div>
    </div>

{% endblock %}