{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %} Главная {% endblock %}

{% block content %}

    <span class="lead">Отображать в виде:</span>
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'tyres_icons' %}"><i class="fa fa-th-large "></i></a>
        <a class="btn btn-default" href="{% url 'tyres_table' %}"><i class="fa fa-list"></i></a>
    </div>
    <form action="{% url 'tyres_icons' %}" method="get" class="form" id="form">
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
            {% bootstrap_button 'Показать' 'submit' %}
        {% endbuttons %}
    </form>

    <div class="shop-section section">
        <div class="goods">
            {% include 'template_parts/tyres_icons.html' %}
        </div>
    </div>

{% endblock %}