{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

{% block title %}{% endblock %}

<body>
<div class="container">

    {% include 'header.html' %}

    {% include 'slider.html' %}

    {% include 'feedback.html' %}

    {% block content %}{% endblock %}

</div>
    {% include 'footer.html' %}

</body>
</html>