{% load staticfiles %}

<div id="footer">
    <div class="container">
        <div class="row1">
            <div class="col-lg-3 col-md-3 col-sm-3 footer-signature">
                <p>Designed by <a href="#">Hayashimizu</a>.</p>
            </div>
            <div class="col-sm-1 col-lg-offset-8">
                <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=35356760&amp;from=informer"
                   target="_blank" rel="nofollow"><img
                        src="https://informer.yandex.ru/informer/35356760/3_0_ECECECFF_CCCCCCFF_0_pageviews"
                        style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
                        title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
                        onclick="try{Ya.Metrika.informer({i:this,id:35356760,lang:'ru'});return false}catch(e){}"/></a>
                <!-- /Yandex.Metrika informer -->

                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function (d, w, c) {
                        (w[c] = w[c] || []).push(function () {
                            try {
                                w.yaCounter35356760 = new Ya.Metrika({
                                    id: 35356760,
                                    clickmap: true,
                                    trackLinks: true,
                                    accurateTrackBounce: true,
                                    webvisor: true
                                });
                            } catch (e) {
                            }
                        });

                        var n = d.getElementsByTagName("script")[0],
                                s = d.createElement("script"),
                                f = function () {
                                    n.parentNode.insertBefore(s, n);
                                };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else {
                            f();
                        }
                    })(document, window, "yandex_metrika_callbacks");
                </script>
                <noscript>
                    <div><img src="https://mc.yandex.ru/watch/35356760" style="position:absolute; left:-9999px;"
                              alt=""/></div>
                </noscript>
                <!-- /Yandex.Metrika counter -->
            </div>

        </div>
    </div>
</div>