{% load staticfiles %}

{% url 'battery_icons'  as battery_icons %}
{% url 'battery_table' as battery_table %}
{% url 'wheels_icons' as wheels_icons %}
{% url 'wheels_table' as wheels_table %}
{% url 'tyres_icons' as tyres_icons %}
{% url 'tyres_table' as tyres_table %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="спб, питер, санкт-петербург, шины, колеса, автошины, диски, акб, аккумуляторы">
    <meta name="mailru-domain" content="5M5ynxbLMq36L7LR"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/icomoon-social.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.table-sort.js' %}"></script>
    <script src="{% static 'js/price/price_filter.js' %}"></script>
    <script src="{% static 'js/feedback-mirsim.js' %}"></script>
</head>