{% url 'home' as home_url %}
{% url 'battery_icons' as battery_icons %}
{% url 'battery_table' as battery_table %}
{% url 'wheels_icons' as wheels_icons %}
{% url 'wheels_table' as wheels_table %}
{% url 'tyres_icons' as tyres_icons %}
{% url 'tyres_table' as tyres_table %}
{% url 'info' as info_url %}


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="{{ home_url }}">mirsim.ru</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li class="{% if request.get_full_path == home_url %}active{% endif %}">
              <a href="{{ home_url }}">Главная</a>
          </li>

          <li class="{% if request.get_full_path == battery_icons or request.get_full_path ==  battery_table %}active{% endif %}">
              <a href="{{ battery_table }}">Аккумуляторы</a>
          </li>

          <li class="{% if request.get_full_path == wheels_icons or request.get_full_path ==  wheels_table %}active{% endif %}">
              <a href="{{ wheels_table }}">Диски</a>
          </li>

          <li class="{% if request.get_full_path == tyres_icons or request.get_full_path ==  tyres_table %}active{% endif %}">
              <a href="{{ tyres_table }}">Шины</a>
          </li>

          <li class="{% if request.get_full_path == info_url %}active{% endif %}">
              <a href="{{ info_url }}">Покупателям</a>
          </li>
      </ul>
    </div>
  </div>
</div>